<div class="container mt-5">
  <div class="row mx-auto">
    <div class="col-md-10 offset-1">
      <div class="messages-list shadow p-3 mb-5 bg-white rounded">
        <h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
          <%= image_tag @user.get_profile_image(30,30) %><%= @user.name %> さんとのチャット
        </h1>

        <div class="messages">
          <% @messages.each do |message| %>
            <%= render "messages/index", message: message %>
          <% end %>
        </div>

        <div class="errors">
          <%= render "messages/errors", obj: @message %>
        </div>

        <div id="message">
          <%= render "messages/form", message: @message %>
        </div>
      </div>
    </div>
  </div>
</div>