<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
  <%= @user.name %> さんとのチャット
</h1>

<div id="message" class="message" style="width: 400px;">
  <%= render "messages/index", messages: @messages %>
</div>

<div class="errors">
  <%= render "messages/errors", obj: @message %>
</div>

<%= form_with model: @message, local: false do |f| %>
  <%= f.text_field :content %>
  <%= f.hidden_field :room_id %>
<% end %>