<div class="container px-5 px-sm-0">
  <div class="row mt-3">

    <table class="table table-hover table-inverse">
      <!--検索対象モデルがUserの時 -->
      <% if @model == "user" %>
      <h2>Users search for "<%= @content %>"</h2>
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @records.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(50, 50) %></td>
              <td><%= user.name %></td>
              <td><%= link_to "show", user_path(user.id) %></td>
            </tr>
          <% end %>
        </tbody>
      <% elsif @modl == "book" %>
        <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th>Tag</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <h2>Books search for "<%= @content %>"</h2>
          <% @records.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user) do %>
                  <%= image_tag book.user.get_profile_image(50, 50) %>
                  <%= book.user.name %>
                <% end %>
              </td>
              <td><%= link_to book.title , book_path(book.id) %></td>
              <td><%= book.body %></td>
              <td><%= book.tag %></td>
              <td id="favorite_buttons_<%= book.id %>">
                <%= render "favorites/favorites", book: book %>
              </td>
              <td>コメント数：<%= book.book_comments.count %></td>
              <td>閲覧数：<%= book.read_counts.count %></td>
              <td><%= render "books/static.rate", book: book %></td>
            </tr>
          <% end %>
        </tbody>
      <% else %>
        <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th>Tag</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <h2>Books search for "<%= @content %>"</h2>
          <% @records.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user) do %>
                  <%= image_tag book.user.get_profile_image(50, 50) %>
                  <%= book.user.name %>
                <% end %>
              </td>
              <td><%= link_to book.title , book_path(book.id) %></td>
              <td><%= book.body %></td>
              <td><%= book.tag %></td>
              <td id="favorite_buttons_<%= book.id %>">
                <%= render "favorites/favorites", book: book %>
              </td>
              <td>コメント数：<%= book.book_comments.count %></td>
              <td>閲覧数：<%= book.read_counts.count %></td>
              <td><%= render "books/static.rate", book: book %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>

  </div>
</div>